<div class="main-container d-flex">
    <div class="">
        <a href="/register"><button class="btn btn-primary m-3">I am Job Seeker</button></a>
        <a href="/register"><button class="btn btn-primary m-3">I am Recruiter</button></a>
    </div>
    <div class="fs-1 w-50">
        This is the best place if you are seeking job or talented candidates
    </div>
</div>

</div>
