<div class="main-container d-flex">
    <div class="">
        <button class="btn btn-primary m-3">I am Job Seeker</button>
        <button class="btn btn-primary m-3">I am Recruiter</button>
    </div>
    <div class="fs-1 w-50">
        This is the best place if you are seeking job or talented candidates
    </div>
</div>

</div>
