<div class="dropdown me-5">
    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Applications</a></li>
      <li><a class="dropdown-item" href="/:id/jobs">Posted by You</a></li>
      <li><a class="dropdown-item" href="/:id/addjob">Post New</a></li>
      <li><a class="dropdown-item" href="/:id/jobs">See all jobs</a></li>
      <li><a class="dropdown-item" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>


<h1>Welcome </h1>


